@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .active-link::after {
    content: "";
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 0.5rem;
    right: -1.2rem;
  }

  .hamburger-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .bar {
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin: 2.5px 0;
    transition: transform 0.4s ease;
  }

  .hamburger-container-close .bar {
    background-color: #000;
  }

  .hamburger-container-close .bar:nth-child(1) {
    transform: rotate(-48deg) translate(-15px, 3px);
  }
  .hamburger-container-close .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-container-close .bar:nth-child(3) {
    transform: rotate(49deg) translate(-2px, 8px);
  }
  .mobile-nav {
    position: fixed;
    left: 0rem;
    top: 7rem;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
  }
  .banner-overlay {
    position: relative;
  }

  .banner-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
  }
  .banner-overlay::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust height as needed */
    -webkit-tap-highlight-color: #fff;
    background: linear-gradient(
      to top,
      rgb(255, 255, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  .poster-image {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 400px;
    height: 600px;
    border-radius: 30px;
    transform: scale(0);
    transition: transform 0.7s ease;
  }
  .scale-up {
    transform: scale(1);
  }
  .hero-title {
    color: #fff;
    font-size: 5rem;
    font-family: poppins;
    font-weight: bold;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.5s, 0.5s;
  }
  .overview {
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.7s, 0.7s;
    transform: translateY(-100px);
    opacity: 0;
    font-family: poppins;
    font-size: 1.1rem;
    color: #fff;
  }
  .hero-button {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transition-delay: 0.9s, 0.9s;
    transform: translateY(-100px);
  }
  .text-animate {
    transform: translateY(0);
    opacity: 1;
  }
  .poster-fade {
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.3s, 0.3s;
  }
  .poster-fade-animate {
    opacity: 1;
  }
  .blur-nav {
    backdrop-filter: blur(10px);
  }
  .glow-button {
    color: rgba(255, 255, 255, 1);
    box-shadow: 2px 5px 20px rgba(22, 80, 206, 0.4);
    backdrop-filter: blur(8px);
    transition: all 0.3s ease;
  }
  .glow-button:hover {
    background-color: #fff;
    color: red;
  }
  .glow-button-trailer {
    box-shadow: 0px 0px 7px 8px rgba(224, 6, 6, 0.4);
    transition: box-shadow 0.3s ease;
  }
  .glow-button-trailer:hover {
    box-shadow: 0px 0px 7px 10px rgba(224, 6, 6, 0.4);
  }
}

@layer utilities {
  .padding-x {
    @apply sm:px-16 px-8;
  }
}
